// FONTS
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
$font-robot:'Roboto', sans-serif;


// COLORS
$white:#fff;
$black:#000;
$blue-primary:#583CDC;
$btn-text-blue:#5400FF;
$dark-text-blue:#131149;
$text-blue:#3A3864;
$label-black:#2E2E2E;
$gray-primary:#707070;
$border-color:#2D00FF;
$link-color:rgba(84, 0, 255, 0.66);
$dark-gray: #2d2d2d;
$black-primary:#333333;
$light-gray:#858585;